html { box-sizing: border-box; }

* {
  font-family: $base-font-family;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #2b3a42;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.app {
  margin-top: rem(150);

  &__heading {
    font-size: em(50);
    font-weight: 100;
  }
}

.app-logo {
  width: rem(300);
  margin-right: auto;
  margin-left: auto;
  padding: rem(30);
  border-radius: 50%;

  &__image {
    width: rem(220);
    height: rem(220);
  }
}
